// Colors
$white: #fff;
$black: #15151E;
$accent: #22AA73;

// Transition
$slow: 500ms;
$normal: 200ms;
$fast: 100ms;

// Fonts
$inter: 'Inter', Arial, sans-serif;
$libre: 'Libre Franklin', Arial, sans-serif;
